关于发布《网络安全标准实践指南——个人信息保护合规审计要求》的通知

查询

平台登录

申请成员

首页

新闻动态

行业观点

标准征求意见

标准查询

出版物

关于我们

新闻动态

>

通知公告

关于发布《网络安全标准实践指南——个人信息保护合规审计要求》的通知

发布于：2025-05-26

网安秘字〔2025〕62号

各有关单位：
根据《中华人民共和国个人信息保护法》《个人信息保护合规审计管理办法》等法律法规要求，为指导个人信息保护合规审计活动，保护个人信息权益，秘书处组织编制了《网络安全标准实践指南——个人信息保护合规审计要求》。
本《实践指南》提出了个人信息保护合规审计原则，规定了个人信息保护合规审计的总体要求、实施流程、内容和方法，适用于个人信息处理者和专业机构开展个人信息保护合规审计活动。

附件：《网络安全标准实践指南——个人信息保护合规审计要求》.pdf

全国网络安全标准化技术委员会秘书处
2025年5月19日

地址

中国 北京 安定门东大街一号 中国电子技术标准化研究院

联系电话

010-64102730,64102731

传真

010-64102997

邮编

100007

版权所有© 全国网络安全标准化技术委员会秘书处

京ICP备05013730号-14

京公网安备11010102004561号